body {
    background-color: gray;
}

.nav {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.main {
    margin-left: 20px;
    padding: 20px;
    transition: background-color 0.3s ease;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: auto;
    max-width: 800px;
}

.header {
    background-color: darkblue;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
